body {
    background-color: white;
}

.top_panel {
    color: black;
    font-size: smaller;
    margin: 8%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top_panel img{
    height: 150px;
    width: 150px;
}

#menuButton {
    color: black;
    size: 50px;
    background-color: white;
    height: 30px;
    width: 120px;
}
